<!-- result2.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result 2</title>
</head>
<body>
   
    <h1>Thank You for Using Our Software</h1>

     <!-- Go back to home link -->
<a href="{{ url_for('home') }}" style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none;">Go back to home</a>


    <h1></h1>
    <img src="{{ url_for('static', filename='compeau-phillip-2023.jpg') }}" alt="Uploaded Image">

    

</body>
</html>